/* My Custom CSS */

body {
    font-family: 'Alegreya Sans',-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;

}

.entry-content {
  font-size: 16px;

}

.post-content blockquote {
	font-style: italic;
}
.post-content img[src*="#floatright"] {
    margin: 1rem;
    float: right;
}

a.reply-by-email {
	display: block;
	margin: 1em auto;
	width: fit-content;
	background: var(--code-bg);
	padding: 5px 10px;
	border-radius: var(--radius);
    border: 1px solid var(--border);
}