/* My Custom CSS */

/* to get rid of persistent background color otherwise */
:root {
    --hljs-bg: rgb(245, 245, 245);
}

nav {
 font-size: 1.0rem;
 font-weight: 400;
}

.first-entry {
    min-height: 150px;
}

.post-content a {
	color: blue;
}

.post-content a:visited {
	color: blueviolet;
}

.post-content blockquote {
	font-style: italic;
}
.post-content img[src*="#floatright"] {
    margin: 1rem;
    float: right;
}

a.reply-by-email {
	display: block;
	margin: 1em auto;
	width: fit-content;
	background: var(--code-bg);
	padding: 5px 10px;
	border-radius: var(--radius);
    border: 1px solid var(--border);
}

.post-content figure>figcaption {
    text-align: center;
}

.figure-number {
  display: none;
}

figcaption {
    font-size: 1em;
}

blockquote cite {
    display: block;
    text-align: right;
}

.post-content pre code {
   color: rgb(46, 46, 46);
}


/* Specific to Congo theme */

/* Remove automatic quote marks in blockquote */
.prose :where(blockquote p:first-of-type):not(:where([class~=not-prose] *))::before {
    content: "";
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *))::after {
    content: "";
}

.image-med img {
    max-width: 400px;
}
