/* My Custom CSS */

nav {
 font-size: 1.0rem;
 font-weight: 400;
}

.post-content blockquote {
	font-style: italic;
}
.post-content img[src*="#floatright"] {
    margin: 1rem;
    float: right;
}

a.reply-by-email {
	display: block;
	margin: 1em auto;
	width: fit-content;
	background: var(--code-bg);
	padding: 5px 10px;
	border-radius: var(--radius);
    border: 1px solid var(--border);
}

.post-content figure>figcaption {
    text-align: center;
}

.figure-number {
  display: none;
}

/* Specific to Congo theme */

/* Remove automatic quote marks in blockquote */
.prose :where(blockquote p:first-of-type):not(:where([class~=not-prose] *))::before {
    content: "";
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *))::after {
    content: "";
}

