@font-face {  
	font-family: 'Exo';  
	src: url('/fonts/Exo.woff2') format('woff2');  
	font-display: swap;  
	font-weight: 200 700;  
}
@font-face {  
	font-family: 'Roboto';  
	src: url('/fonts/Roboto.woff2') format('woff2');  
	font-display: swap;  
	font-weight: 200 700;  
}

article header h1 {
	font-family: Exo;
	font-weight: 700;
}

.header-top-right {
	margin-top: 1rem;
}

nav a {
	font-weight: 600;
}

blockquote {
	padding: 0.1em .5em 0.1em 1em;
}



.footnotes {
    font-size: 0.9rem;
    margin-top: 2rem;
}

.post-header {
	margin-bottom: 0;
}

.post-info {
	margin-top: 0.5em;
}

.read-more a::after {
  content: " »";
}

.post-summary p {
	font-family: "Roboto";
}
.post .content p {
	font-family: "Roboto";
}

/* small images to float but not look stupid on mobile */
@media (min-width: 40rem) {
  figure.float-right {
    float: right;
    max-width: 50%;
    margin: 0 0 1rem 1rem;
  }
}

.small-image-right {
    max-width: 150px;
	padding: 10px 0px 10px 10px
}
@media (min-width: 40rem) {
 .small-image-right {
    max-width: 150px;
	float: right;
	padding: 10px 0px 10px 10px
 }
}

a.reply-by-email {
	display: block;
	margin: 2em auto;
	width: fit-content;
	background: var(--code-bg);
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid var(--pre-border-color);
}

.post hr {
  width: 50%;
  opacity: .5;
  border: none;
  border-bottom: 2px dotted #232323;
  padding-bottom: 0;
  text-align: center;
  margin: 2rem auto;
  border: 0;
  background: currentColor;
  height: 1px;
}

.right.pagination-item a::after {
	content: " »";
}
.left.pagination-item a::before {
	content: "« ";
}
